body {
  margin: 0;
  padding: 0;
}
a, input {
  outline: none;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-top: 26px;
}
header {
  display: flex;
  min-height: 30px;
  justify-content: space-between;
  align-items: flex-end;
}
header a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #95e1d3;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
}
h1 span {
  text-transform: uppercase;
}
.navigation, .list-of-services, .team-members {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav-item {
  display: inline;
  margin-right: 58px;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.nav-item:last-child {
  margin-right: 0;
}
.navigation a {
  padding-bottom: 10px;
  border-bottom: 3px solid rgba(243, 129, 129, 0);
  transition-property: color, border-bottom;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.navigation a:hover, .navigation a:focus {
  color: #f38181;
  border-bottom: 3px solid rgba(243, 129, 129, 1);
}
main {
  padding: 124px 0 70px;
  text-align: center;
}
.heading {
  margin: 0 0 18px;
  font-family: 'Kaushan Script', cursive;
  font-size: 24px;
  font-weight: 400;
  color: #333333;
}
h2, h3 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #333333;
}
h2 {
  margin: 0 0 64px;
  font-size: 30px;
  font-weight: 700;
}
h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #f38181;
}
.services {
  margin-bottom: 88px;
}
.list-of-services, .team-members {
  display: flex;
}
.list-of-services {
  flex-wrap: wrap;
  justify-content: space-around;
}
.service-item {
  width: 300px;
  margin-bottom: 100px;
  padding-left: 80px;
  text-align: left;
  background-position: 20px 0;
  background-repeat: no-repeat;
}
.icon-alarm {
  background-image: url(../img/icon-alarm.png);
}
.icon-line-graph {
  background-image: url(../img/icon-line-graph.png);
}
.icon-computer {
  background-image: url(../img/icon-computer.png);
}
.icon-book {
  background-image: url(../img/icon-book.png);
}
.icon-house {
  background-image: url(../img/icon-house.png);
}
.icon-image {
  background-image: url(../img/icon-image.png);
}
.service-item:nth-last-child(-n+3) {
  margin-bottom: 0;
}
h3 {
  margin: 0 0 16px;
  font-size: 14px;
  font-weight: 400;
}
p {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #999999;
}
.team h2 {
  margin: 0 0 44px;
}
h2+p {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 94px;
}
.team-members {
  justify-content: space-between;
}
.team-member {
  position: relative;
  padding-bottom: 10px;
}
.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 470px;
  background-image: linear-gradient(rgb(243, 129, 129, .9), rgb(252, 227, 138, .9));
  box-shadow: 0 0 0 0 #95e1d3;
  opacity: 0;
  transition: opacity 200ms linear,
              box-shadow 200ms linear;
}
.overlay a {
  display: block;
  width: 55px;
  height: 55px;
  margin-right: 1px;
  background-color: #fce38a;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 200ms linear;
}
.overlay a:last-child {
  margin-right: 0;
}
.facebook-link {
  background-image: url(../img/icon-facebook.png);
}
.twitter-link {
  background-image: url(../img/icon-twitter.png);
}
.pinterest-link {
  background-image: url(../img/icon-pinterest.png);
}
.instagram-link {
  background-image: url(../img/icon-instagram.png);
}
.image-wrapper {
  transform: 0;
  transition: transform 200ms linear;
}
.team-member:hover .image-wrapper, .team-member:focus .image-wrapper {
  transform: translate(-10px, -10px);
}
.team-member:hover .overlay, .team-member:focus .overlay {
  opacity: 1;
  box-shadow: 10px 10px 0 0 #95e1d3;
}
.overlay a:hover, .overlay a:focus {
  background-color: #95e1d3;
}
.team-members h3 {
  margin: 28px 0 12px;
}
.team-members p {
  font-style: italic;
}
footer {
  display: flex;
  min-height: 62px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #cccccc;
}
.copyright {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #333333;
}
.copyright span {
  color: #f38181;
}
form {
  display: flex;
  align-items: center;
}
input[type="text"] {
  width: 204px;
  height: 38px;
  padding: 0 12px;
  border: 1px solid #cccccc;
}
input[type="text"]::placeholder {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  color: #cccccc;
}
input[type="submit"] {
  width: 150px;
  height: 40px;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background-color: #95e1d3;
  border: none;
  cursor: pointer;
}