body {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 35px 0 80px;
  width: 1110px;
}
header {
  height: 36px;
  margin-bottom: 98px;
  font-size: 0px;
}
.logo {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  width: 100px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #555252;
}
.logo span {
  font-weight: 900;
  color: #1abc9c;
}
nav {
  display: inline-block;
  vertical-align: middle;
  width: calc(100% - 100px);
}
.navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
}
.navigation li {
  display: inline;
  margin-right: 32px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}
.navigation li:last-child {
  margin-right: 0;
}
.navigation a {
  text-decoration: none;
  color: #0f0101;
}
.navigation a:hover {
  color: #1abc9c;
}
.products {
  margin-bottom: 100px;
  height: auto;
  overflow: hidden;
}
h2 {
  margin-top: 0;
  margin-bottom: 92px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  color: #515151;
}
h2::after {
  content: "";
  display: block;
  margin: 0 auto;
  margin-top: 28px;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
}
.item {
  display: inline-block;
  float: left;
  width: 255px;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 0;
}
.item:nth-child(4n+1) {
  margin-right: 0;
}
.item:nth-last-child(-n+4) {
  margin-bottom: 0;
}
.item-name {
  height: 40px;
  background-color: #323232;
  font-family: 'Roboto', sans-serif;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
}
.item-name h3 {
  display: inline;
  padding-left: 15px;
  font-weight: 900;
  font-size: 18px;
}
.item-name span {
  display: inline-block;
  float: right;
  width: 54px;
  height: 40px;
  font-size: 18px;
  font-weight: 900;
  background-color: rgb(255, 255, 255, .5);
  text-align: center;
}
.item:hover > .item-name {
  background-color: #1abc9c;
}
.news {
height: auto;
overflow: hidden;
}
.news h2 {
  font-size: 48px;
  margin-bottom: 80px;
}
article {
  display: inline-block;
  float: left;
  width: 350px;
  margin-right: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0;
}
article:last-child {
  margin-right: 0;
}
article h3 {
  margin: 16px 0 30px;
  font-size: 18px;
  font-weight: 600;
  color: #555252;
}
article h3:after {
content: "";
display: block;
width: 136px;
height: 3px;
margin-top: 13px;
background-color: #1abc9c;
}
article p {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 14px;
  font-weight: 400;
  color: #555252;
}
button {
  width: 160px;
  height: 50px;
  padding: 0;
  border-radius: 3px;
  background-color: #1abc9c;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
  border: none;
  cursor: pointer;
}