@import url("./normalize.css");
@import url("./fonts.css");

.banner-wrapper {
  background:  linear-gradient(rgba(252, 227, 138, .9), rgba(243, 129, 129, .9)), url(../img/banner.jpg) no-repeat center;
  background-size: cover;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px;
}
.link {
  display: inline-block;
  text-decoration: none;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.icon-alignment {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: 700;
}
.logo__link {
  color: #fff;
}
.logo__transform {
  text-transform: uppercase;
}
.nav {
  display: flex;
  align-items: center;
}
.nav__list-item {
  display: inline-block;
  margin-right: 55px;
}
.nav__list-link {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  transition: color 200ms linear;
}
.nav__list-link::after {
  display: block;
  position: absolute;
  content: "";
  width: 0;
  height: 3px;
  left: 50%;
  right: 50%;
  margin-top: 10px;
  background-color: rgba(252, 227, 138, 0);
  transition-property: width, left, right, background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.nav__list-link:hover, .nav__list-link:focus {
  color: rgb(252, 227, 138);
}
.nav__list-item:hover .nav__list-link::after {
  width: 100%;
  left: 0;
  right: 0;
  background-color: rgba(252, 227, 138, 1);
}
.nav__element {
  width: 25px;
  height: 25px;
  margin-right: 40px;
}
.nav__element:last-child {
  margin-right: 0;
}
.nav__icon {
  width: 18px;
  fill: rgb(255, 255, 255);
  transition: fill 200ms linear;
}
.icon-shopping-cart {
  height: 15px;
}
.icon-search {
  height: 18px;
}
.nav__element:hover .nav__icon, .nav__element:focus .nav__icon {
  fill: rgb(252, 227, 138);
}
